<template>
    <div>
        <Dashboard>
            <div class="card">
                <div class="card-body" v-if="userData.name">
                    <h4 class="text-muted mb-5">Edit user data</h4>
                     <form @submit.prevent="submitData">
                        <div class="image-parent">
                            <div id="img-preview" v-if="userData.profile_picture!=''">
                                <img :src="userData.profile_picture" alt="" style="width: 100%;height: 100%;object-fit: cover;border-radius: 50%; ">
                            </div>
                            <input @change="getImgData" type="file" accept="image/*" id="choose-file" name="choose-file" required />
                            <label for="choose-file">Choose File</label>
                        </div>
                        <div class="mb-3 row">
                           <div class="mb-3 col-6">
                             <label for="name" class="col-sm-12 col-form-label text-start">Name</label>
                                <div class="col-12 d-inline-block">
                                    <input type="text" class="form-control" id="name" v-model="userData.name">
                                </div>
                           </div>
                           <div class="mb-3 col-6">
                             <label for="age" class="col-sm-12 col-form-label text-start">Age</label>
                                <div class="col-12 d-inline-block">
                                    <input type="number" class="form-control" id="age" v-model.number="userData.age">
                                </div>
                           </div>
                            <div class="mb-3 col-12">
                             <label for="email" class="col-sm-12 col-form-label text-start">Email</label>
                                <div class="col-12 d-inline-block">
                                    <input type="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" v-model="userData.email">
                                </div>
                           </div>
                           <div class="mb-3 col-">
                             <label for="password" class="col-sm-12 col-form-label text-start">Password</label>
                                <div class="col-12 d-inline-block">
                                    <input type="Password" class="form-control" id="password" v-model="password">
                                </div>
                           </div>
                           <!-- {{form  Data.email }} -->
                           <div class="col-12 text-center">
                            <div class="d-grid gap-2">
                               <button type="submit" class="btn btn-primary" @click="checkValidation()">Update Profile</button>
                                <!-- <button class="btn btn-primary" type="button">Button</button> -->
                            </div>
                            
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </Dashboard>
    </div>
</template>

<script>
import Dashboard from '../../components/common/Dashboard.vue';
import axios from 'axios'
    export default {
        components:{Dashboard}, 
        data() {
            return {
                userData:{},
                password:'',
            }
        },
        methods: {
            checkValidation(){
                if(this.userData.profile_picture == '' || this.userData.name == '' || this.userData.age == null || this.userData.password == ''|| this.userData.email == ''){
                    alert('Some Fields are missing :(')
                }
            },
             checkProperties(obj) {
                for (var key in obj) {
                    if (obj[key] !== null && obj[key] != "")
                        return false;
                }
                return true;
            },
            submitData(){
                let passwords = this.password
                const finalData = {...this.userData,passwords};
                console.log(finalData);
                const {profile_picture,
                        name,
                        age,
                        email} = finalData;
                        const ajaxData = {
                            profile_picture,
                            name,
                            age,
                            password,
                            email,
                            password:passwords
                        };
                        console.log(ajaxData);
                        const {token} = JSON.parse(localStorage.getItem('user'))
                 axios.post('http://172.16.1.197:8000/api/update' ,ajaxData ,{
                    headers:{
                        Accept:'application/json',
                        ContentType:'application/json',
                        Authorization:`Bearer ${token}`
                    }   
                })
                .then(function (response) {
                    console.log(response);
                    $this.userData = response.data
                })
                .catch(function (error) {
                    console.log(error);
                    
                }).finally(()=>{});
                    
            },
            getImgData() {
                
                const imgPreview = document.getElementById("img-preview");
                imgPreview.querySelector('img').remove()
                // console.log(this.userData.profile_picture)
                const chooseFile = document.getElementById("choose-file");
                const files = chooseFile.files[0];
                
                if (files) {
                        // console.log();
                        this.userData.profile_picture = files;
                        console.log( this.userData.profile_picture)
                        const fileReader = new FileReader();
                        fileReader.readAsDataURL(files);
                        fileReader.addEventListener("load", function () {
                        imgPreview.style.display = "block";
                        imgPreview.innerHTML = '<img src="' + this.result + '" style="width: 100%;height: 100%;object-fit: cover;border-radius: 50%; " />';
                    });    
                }
                else{
                    this.userData.profile_picture = '';
                    document.querySelector('.image-parent #img-preview img').remove();
                    document.querySelector('.image-parent #img-preview img').remove();
                }
            },
             getUserData(){
                var $this = this
                const {token} = JSON.parse(localStorage.getItem('user'))
                axios.get('http://172.16.1.197:8000/api/user' ,{
                    headers:{
                        Accept:'application/json',
                        ContentType:'application/json',
                        Authorization:`Bearer ${token}`
                    }   
                })
                .then(function (response) {
                    $this.userData = response.data;
                    // const {age,email,name,profile_picture} = response.data;
                    // // $this.userData = {...this.userData,age,email,name,profile_picture};
                    // // // console.log()
                    // // console.log($this.userData);
                    // // // console.log(response.data)
                })
                .catch(function (error) {
                    console.log(error);
                    
                }).finally(()=>{
                    
                })
            }
        },
        created() {
            // console.log(this.userData);
            this.getUserData();
        },
        
    }
</script>

<style lang="scss" scoped>

</style>