<template>
    <div>
        <Dashboard>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <select name="" id="" v-on:change="onChangeSite($event)">
                                <option value="public">All Public</option>
                                <option value="hidden">Hidden</option>
                                <option value="private">My Private</option>
                            </select>
                        </div>
                    </div>
                    <h4 class="text-muted mb-5">List of all Images</h4>
                    <table v-if="data != null" class="table">
                        <tr v-for="item in data" :key="item.id">
                            <td>{{ item.name }}</td>
                            <td>
                                <img :src="item.photo" alt="" style="max-width: 200px;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </Dashboard>
    </div>
</template>

<script>
import axios from 'axios'
import Dashboard from '../../components/common/Dashboard.vue'
    export default {
        components:{Dashboard},
        data() {
            return {
                config:{
                    headers:{
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "Authorization": "Bearer " + localStorage.getItem('user').token
                    }
                },
                status: "public",
                body:{
                    "status": this.status
                },
                data: null,
            }
        },
        mounted()
        {
            console.log("mounted");
            const {token} = JSON.parse(localStorage.getItem('user'));

            axios.post("http://172.16.1.197:8000/api/photo/list", {
                "status": this.status
            }, {
                    headers:{
                        Accept:'application/json',
                        ContentType:'application/json',
                        Authorization:`Bearer ${token}`
                    }})
            .then((response) => {
                console.log(response);
                this.data = response.data.data
            }).catch((error) => {
                console.log(error);
            })
            
        },
        updated()
        {
            console.log("updated");
            const {token} = JSON.parse(localStorage.getItem('user'));

            axios.post("http://172.16.1.197:8000/api/photo/list", {
                "status": this.status
            }, {
                    headers:{
                        Accept:'application/json',
                        ContentType:'application/json',
                        Authorization:`Bearer ${token}`
                    }})
            .then((response) => {
                console.log(response);
                this.data = response.data.data
            }).catch((error) => {
                console.log(error);
            })
            
        },
        methods:{
            onChangeSite(e)
            {
                console.log(e.target.value);
                this.status = e.target.value;
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>