<template>
    <div class="container-fluid">
        <div class="row loginPage">
            <div class="col-md-6 loginPage__image d-md-block d-none p-0">
                <img src="https://random.imagecdn.app/5000/1500" />
            </div>
            <div class="col-md-6 loginPage__form">
                <div class="form-container">
                    <h3>Set New Password</h3>

                    <form @submit.prevent="submitData">
                        <div class="mb-3 row">
                           <div class="mb-3 col-12">
                             <label for="email" class="col-sm-12 col-form-label text-start">Password</label>
                                <div class="col-12 d-inline-block">
                                    <input type="password" class="form-control" id="email" v-model="formData.password">
                                </div>
                           </div>
                           <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 text-end d-flex justify-content-end">
                                    <div class="ms-4 mb-3 backButton">
                                        <button @click="$router.go(-1)" to="/" class="text-muted font-13">Change Password</button>
                                    </div>
                                </div>
                            </div>
                           </div>
                           <!-- {{form  Data.email }} -->
                           
                           <div class="col-12 text-center">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Change Password</button>
                                <!-- <button class="btn btn-primary" type="button">Button</button> -->
                            </div>
                           </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                formData:{
                    email:'',
                    password:''
                }
            }
        },
        methods: {
            submitData(){
                console.log(this.formData);
                // this.$router.push('/dashboard');
                
            }
        },
    }
</script>

<style lang="scss" scoped>
    .loginPage{
        &__image{
            position: relative;
            img{
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }
        &__form{
            display:flex;
            align-items: center;
            min-height: 100vh;
            max-width: 500px;
            margin: auto;
            h3{
                margin-bottom: 50px;
            }
        }
        a{
            font-size: 14px;
        }
        .backButton button{
            outline: none;
            border: none;
            background: none;
            text-decoration: underline;
        }
    }
</style>