<template>
    <div class="container-fluid">
        <div class="row loginPage">
            <div class="col-md-6 loginPage__image d-md-block d-none p-0">
                <img src="https://random.imagecdn.app/5000/1500" />
            </div>
            <div class="col-md-6 loginPage__form">
                <div class="form-container">
                    
                    <h3>Login Page</h3>
                    
                    <form @submit.prevent="submitData" :class="error ? 'was-validated' : ''">
                        <div class="mb-3 row">
                           <div class="mb-3 col-12">
                             <label for="email" class="col-sm-12 col-form-label text-start">Email</label>
                                <div class="col-12 d-inline-block">
                                    <input type="email" class="form-control" id="email" v-model="formData.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                    <div class="invalid-feedback text-start">
                                        Please Correct Email
                                    </div>
                                </div>
                           </div>
                            <div class="mb-3 col-12">
                             <label for="password" class="col-sm-12 col-form-label text-start">Password</label>
                                <div class="col-12 d-inline-block">
                                    <input type="password" class="form-control" id="password" v-model="formData.password" required>
                                    <div class="invalid-feedback text-start">
                                        Please Correct Password
                                    </div>
                                </div>
                           </div>
                           <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 text-end d-flex justify-content-end">
                                    <div class="ms-4 mb-3">
                                        <router-link to="/forget" class="text-muted">Forget Password</router-link>
                                    </div>
                                    <div class="ms-4 mb-3">
                                        <router-link to="/register" class="text-muted">Dont have an account?</router-link>
                                    </div>
                                    
                                </div>
                            </div>
                           </div>
                           <!-- {{form  Data.email }} -->
                           
                           <div class="col-12 text-center">
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <!-- <button class="btn btn-primary" type="button">Button</button> -->
                            </div>
                           </div>
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
    export default {
        data() {
            return {
                formData:{
                    email:'',
                    password:''
                },
                error:false
            }
        },
        methods: {
            submitData(){
                let $this = this
                console.log(this.formData);
                axios.post('http://172.16.1.197:8000/api/login',this.formData ,{
                    headers:{
                        Accept:'application/json',
                        ContentType:'application/json'
                    }   
                })
                .then(function (response) {
                    console.log(response);
                    $this.error = false;
                    $this.$router.push('/dashboard');
                    const localData = {
                        isLogin:true,
                        token:response.data.token
                    }
                    localStorage.setItem('user',JSON.stringify(localData))
                })
                .catch(function (error) {
                    console.log(error);
                    console.log($this.error);
                    $this.error = true
                }).finally(()=>{
                    $this.formData={
                        email:'',
                        password:''
                    }
                })
            }
        },
    }
</script>

<style lang="scss" scoped>
    .loginPage{
        &__image{
            position: relative;
            img{
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }
        &__form{
            display:flex;
            align-items: center;
            min-height: 100vh;
            max-width: 500px;
            margin: auto;
            h3{
                margin-bottom: 50px;
            }
        }
        a{
            font-size: 14px;
        }
    }
</style>