<template>
    <div>
        <h1>Page not found</h1>
        <router-link to="/">Click back to home page</router-link> 
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>