<template>
    <div class="container-fluid">
        <div class="row loginPage">
            <div class="col-md-6 loginPage__image d-md-block d-none p-0">
                <img src="https://random.imagecdn.app/5000/1500" />
            </div>
            <div class="col-md-6 loginPage__form">
                <div class="form-container">
                    <h3>Register Page</h3>

                    <form @submit.prevent="submitData">
                        <div class="image-parent">
                            <div id="img-preview"></div>
                            <input @change="getImgData" type="file" accept="image/*" id="choose-file" name="choose-file" required />
                            <label for="choose-file">Choose File</label>
                        </div>
                        <div class="mb-3 row">
                           <div class="mb-3 col-6">
                             <label for="name" class="col-sm-12 col-form-label text-start">Name</label>
                                <div class="col-12 d-inline-block">
                                    <input type="text" class="form-control" id="name" v-model="formData.name">
                                </div>
                           </div>
                           <div class="mb-3 col-6">
                             <label for="age" class="col-sm-12 col-form-label text-start">Age</label>
                                <div class="col-12 d-inline-block">
                                    <input type="number" class="form-control" id="age" v-model.number="formData.age">
                                </div>
                           </div>
                            <div class="mb-3 col-12">
                             <label for="email" class="col-sm-12 col-form-label text-start">Email</label>
                                <div class="col-12 d-inline-block">
                                    <input type="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" v-model="formData.email">
                                </div>
                           </div>
                           <div class="mb-3 col-">
                             <label for="password" class="col-sm-12 col-form-label text-start">Password</label>
                                <div class="col-12 d-inline-block">
                                    <input type="Password" class="form-control" id="password" v-model="formData.password">
                                </div>
                           </div>
                           <!-- {{form  Data.email }} -->
                           <div class="col-12">
                            <div class="row">
                                <div class="col-md-12 text-end d-flex justify-content-end">
                                    <div class="ms-4 mb-3">
                                        <router-link to="/" class="text-muted font-13">I already have account!</router-link>
                                    </div>
                                    
                                </div>
                            </div>
                           </div>
                           <div class="col-12 text-center">
                            <div class="d-grid gap-2">
                               <button type="submit" class="btn btn-primary" @click="checkValidation()">Register</button>
                                <!-- <button class="btn btn-primary" type="button">Button</button> -->
                            </div>
                            
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
    export default {
        
        data() {
            return {
                formData:{
                    profile_picture:'',
                    name:'',
                    age:null,
                    password:'',
                    email:''
                }
            }
        },
        methods: {
            checkValidation(){
                if(this.formData.profile_picture == '' || this.formData.name == '' || this.formData.age == null || this.formData.password == ''|| this.formData.email == ''){
                    alert('Some Fields are missing :(')
                }
            },
             checkProperties(obj) {
                for (var key in obj) {
                    if (obj[key] !== null && obj[key] != "")
                        return false;
                }
                return true;
            },
            submitData(){
                console.log(this.formData);
                var $this = this;
                // let checkVal = this.checkProperties(this.formData);
                // const jsonData = JSON.stringify(this.formData)
                axios.post('http://172.16.1.197:8000/api/register',this.formData ,{
                    headers:{
                        Accept:'application/json',
                        ContentType:'application/json'
                    }   
                })
                .then(function (response) {
                    console.log(response);
                    $this.$router.push('/')
                })
                .catch(function (error) {
                    console.log(error);
                    alert('something went wrong')
                }).finally(function (){
                   
                });
                 this.formData = {
                        profile_picture:'',
                        name:'',
                        age:null,
                        password:'',
                        email:''
                    }
            },
            getImgData() {
                
                const imgPreview = document.getElementById("img-preview");
                // console.log(this.formData.profile_picture)
                const chooseFile = document.getElementById("choose-file");
                const files = chooseFile.files[0];
                
                if (files) {
                        // console.log();
                        this.formData.profile_picture = files;
                        console.log( this.formData.profile_picture)
                        const fileReader = new FileReader();
                        fileReader.readAsDataURL(files);
                        fileReader.addEventListener("load", function () {
                        imgPreview.style.display = "block";
                        imgPreview.innerHTML = '<img src="' + this.result + '" style="width: 100%;height: 100%;object-fit: cover;border-radius: 50%; " />';
                    });    
                }
                else{
                    this.formData.profile_picture = '';
                    document.querySelector('.image-parent #img-preview img').remove();
                    document.querySelector('.image-parent #img-preview img').remove();
                }
            }
        },
    }
</script>

<style lang="scss" scoped>

    .loginPage{
        &__image{
            position: relative;
            img{
                width: 100%;
                min-height: 100vh;
                object-fit: cover;
                height:100%;
            }
        }
        &__form{
            display:flex;
            align-items: center;
            min-height: 100vh;
            max-width: 500px;
            margin: auto;
            padding-block: 20px;
            h3{
                margin-bottom: 30px;
            }
        }
    }
</style>