<template>
    <div>
        <div class="d-flex">
        <sidebarVue/>
        <main style="flex:1">
            <header>
                <div class="inner">
                <span>Hi <span v-if="userData.name" class="text-capitalize">{{userData.name}}</span>, {{greet}}</span>
                <b-dropdown size="lg" right variant="link" toggle-class="text-decoration-none" no-caret style="outline: none;" v-if="userData.profile_picture">
                    <template #button-content>
                        <div class="flex">
                            <b-avatar :src="userData.profile_picture" size="3rem"></b-avatar>
                        </div>
                    </template>
                     <li>
                            <router-link to="/dashboard/edit" class="dropdown-item" >Edit</router-link>
                    </li>
                    <b-dropdown-item @click.prevent="logOut()">Logout</b-dropdown-item>
                </b-dropdown>
            </div>
            </header>
            <div class="main-section">
            <main class="main-section">
                <slot></slot>
            </main>
        </div>
        </main>
        
    </div>
   
    </div>
</template>

<script>
import axios from 'axios';
import sidebarVue from '../../components/common/sidebar.vue'
    export default {
        components:{sidebarVue},
        data() {
            return {
                name:'Test',
                greet:'',
                userData:{}
            }
        },
        methods: {
            greetFunc(){
                var myDate = new Date();
            var hrs = myDate.getHours();
                if (hrs < 12)
                this.greet = 'Good Morning';
                else if (hrs >= 12 && hrs <= 17)
                    this.greet = 'Good Afternoon';
                else if (hrs >= 17 && hrs <= 24)
                    this.greet = 'Good Evening';
            },
            logOut(){
                localStorage.setItem('user',{});
                this.$router.push('/')
            },
             getUserData(){
                var $this = this
                const {token} = JSON.parse(localStorage.getItem('user'))
                axios.get('http://172.16.1.197:8000/api/user' ,{
                    headers:{
                        Accept:'application/json',
                        ContentType:'application/json',
                        Authorization:`Bearer ${token}`
                    }   
                })
                .then(function (response) {
                    console.log(response);
                    $this.userData = response.data
                })
                .catch(function (error) {
                    console.log(error);
                    
                }).finally(()=>{
                    
                })
            }
        },
        mounted() {
            this.greetFunc()
            this.getUserData();
        },
    }
</script>

<style lang="scss" scoped>
.inner{
        display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
    header{
        width: 100%;
        height: 77px;
        display: flex;
        align-items: center;
        background: rgba(248, 249, 250,1);
        border-bottom: 1px solid #ebe7e7;
        border-left: 1px solid #ebe7e7;
        padding: 20px;
    }
    .main-section{
        text-align: left;
    }
    .main-section{
        padding: 5px;
    }
</style>