<template>
  <div class="admin-aside">
    
    <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header>
      <template #default="{ shown }">
        <div class="p-3">
          <h4 id="sidebar-no-header-title">Logo</h4>
          <nav class="mb-3">
            <b-nav vertical>
              <!-- <b-nav-item active @click="hide">Active</b-nav-item> -->
              <li class="nav-item">
                    <router-link to="/dashboard" class="nav-link" exact>Dashboard</router-link>
            </li>
              <li class="nav-item">
                    <router-link to="/dashboard/edit" class="nav-link">Edit</router-link>
            </li>
              <!-- <router-link to="/">Home</router-link> -->
            </b-nav>
          </nav>
          <!-- <b-button variant="primary" block @click="hide">Close Sidebar</b-button> -->
        </div>
      </template>
    </b-sidebar>
  </div>
</template>

<script>
    export default {
        methods: {
           
        },
        mounted() {
        },
    }
</script>

<style lang="scss" scoped>
    
</style>