body{
    overflow-x:hidden;
}
.font-13{
    font-size: 13px;
}.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.pd-10 {
    padding: 10px 0;
}
.b-sidebar-outer {
    position: relative;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    height: unset; 
    overflow: visible;
    z-index: calc(1030 + 5);
}
.b-sidebar:not(.b-sidebar-right) {
    // all:unset
}
.b-sidebar{
    position: relative;
    display: block !important;
    width: 280px !important;
}

.admin-aside{
    nav{
        margin-top: 40px;
        li{
            margin-bottom: 5px;
            a{
                &:hover{
                    background-color: #0d6efd;
                    color: #fff;
                    border-radius: 4px;
                }
                &.router-link-active{
                    background-color: #0d6efd;
                    color: #fff;
                    border-radius: 4px;
                }
            }
        }
    }
}

#img-preview {
    width: 155px;
  border: unset;
  margin-bottom: 20px;
  height: 155px;
  border-radius: 50%;
  margin-inline: auto;
  background: #000;
}
[type="file"] {
height: 0;  
width: 0;
overflow: hidden;
}
[type="file"] + label {
font-family: sans-serif;
background: #f44336;
padding: 10px 30px;
border: 2px solid #f44336;
border-radius: 3px;
color: #fff;
cursor: pointer;
transition: all 0.2s;
}
[type="file"] + label:hover {
background-color: #fff;
color: #f44336;
}
.image-parent{
  position: relative;
  width: 155px;
  height: 155px;
  margin-inline: auto;
  border-radius: 50%;
  label{
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
  }
}